
* {
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

hr {
  width: 100%;
}

.attribution a {
  color: mediumorchid;
  font-family: monospace;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em mediumorchid);
}
/* .logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
} */