
* {
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

hr {
  width: 100%;
}